{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "macros"
  ],
  "ignore": [
    "node_modules",
    "public"
  ]
}
